<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        
        <div class="col-md-6"> 

            <!--Message-->
            <div class="alert alert-info  text-white" *ngIf="info_message">{{info_message}}</div>
            <div class="alert alert-danger text-white"  *ngIf="error_message">{{error_message}}</div>
            <div class="alert alert-success  text-white" *ngIf="success_message">{{success_message}}</div>
            
            <form #passwordRecoveryForm id="passwordRecoveryForm" class="card text-center border border-light p-5">
              
                <h4 class="mb-4">Password Recovery </h4>

                <!-- new password -->
                <input type="text" id="new_plassword" name="new_plassword" class="form-control mb-4" placeholder="New Password" ngModel>
                
                <!-- Password -->
                <input type="text" id="confirm_password" name="New Password" class="form-control mb-4" placeholder="Confirm Password" ngModel>
                                  
                <!-- Sign in button -->
                <button type="button" (click)="passwordRecover()" class="theme-color btn btn-info btn-block my-4">Submit</button>

                <div class="d-flex justify-content-around">
                    <div>
                        <a routerLink="/login">Back To Login?</a>
                    </div>
                </div>

            </form>

            <form #requestPasswordRecoveryForm id="requestPasswordRecoveryForm" class="card text-center border border-light p-5">
              
                <h4 class="mb-4">Enter Email Address </h4>

                <!-- email -->
                <input type="text" id="email" name="email" class="form-control mb-2" placeholder="Email Address" ngModel>
                                                  
                <!-- Sign in button -->
                <button type="button" (click)="requestPasswordRecover()" class="theme-color btn btn-info btn-block my-4">Submit</button>

                <div class="d-flex justify-content-around">
                    <div>
                        <a routerLink="/login">Back To Login?</a>
                    </div>
                </div>
                
            </form>

        </div>
        <div class="col-md-3"></div>
    </div> 
</div>