<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Upload Mpesa Agent Loans</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRefUpload.close()"></button>
  </div>
  <div class="modal-body"> 
    <form #uploadMpesaAgentLoansForm="ngForm" ngNativeValidate>
        <label class="form-label" for="customFile">Upload File</label>
        <input type="file" class="form-control" id="mpesa_agent_loan"
        name="mpesa_agent_loan" required #mpesa_agent_loan="ngModel" ngModel (change)="getFileFromForm($event)" />       
    </form>
    <div *ngIf="on_loading"  class="mt-2 alert alert-primary">
      Uploading Data, Please Wait! <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRefUpload.close()">
      Close
    </button>
    <button type="button" class="btn btn-info theme-color"  (click)="uploadMpesaAgentLoan()">Save changes</button>
  </div>