<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate>
      <div class="input-group mb-2">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          </div>
          <input required name="first_name" type="text" class="form-control" placeholder="First Name" aria-label="Username"
          aria-describedby="basic-addon1" ngModel />
        </div>

      <div class="input-group mb-2">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          </div>
          <input required name="phone_number" type="text" class="form-control" placeholder="Last Name" aria-label="Phone Number"
          aria-describedby="basic-addon1" ngModel />
      </div>

      <div class="input-group mb-2">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
          </div>
          <input required name="email" type="text" class="form-control" placeholder="Email" aria-label="Email Address"
          aria-describedby="basic-addon1" ngModel />
      </div>

      <div class="input-group mb-2">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
          </div>
          <input required name="location" type="text" class="form-control" placeholder="Phone Number" aria-label="Location"
          aria-describedby="basic-addon1" ngModel />
      </div>

      <!-- <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
        </div>
        <select id="role" name="role" class="form-control" ngModel>
            <option disabled selected>Select Product</option>
            <option value="admin">Admin</option>
            <option value="ordinary user">Ordinary User</option>
        </select>
    </div> -->

      <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marker"></i></span>
        </div>
        <!-- <input id="other_reason_text" type="text" placeholder="Type Other Reason..." name="reason" class="form-control" ngModel> -->
        <input required name="location" type="text" class="form-control" placeholder="location" aria-label="Location" aria-describedby="basic-addon1" ngModel />
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-info theme-color">Save changes</button>
  </div>