/* You can add global styles to this file, and also import other style files */

body {
  background-color: #2e2e2e;
  padding-right: 0px !important;
}
.text-poppy-red {
  color: #ef5350 !important;
}
.btn-poppy-red {
  background-color: #ef5350 !important;
}
.bg-poppy-red {
  background-color: #ef5350 !important;
}
.theme-color{
  background-color: #73187F;
}
.theme-color-bg{
  color: #73187F;
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
